<h2>That went as well as could be expected ...</h2>

<img src="/img/boom.gif" id="detonation" alt="Detonation!">

<form method="get" action="/overlord">
<span class="squareborder">
<button class="reset-button" type="submit">Reset!</button>
</span>
</form>
