<div class="timer-display">
<input id="timer-output" type="text" disabled>
<input id="timer-countdown" name="timer-countdown" value="<%= timer.time_remaining %>" type="hidden" disabled>
<input id="timer-started" name="timer-started" value="<%= timer.started? %>" type="hidden" disabled>
</div>
