*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: unset;
  padding: unset;
}

img,
picture,
svg,
canvas {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

button,
input,
textarea,
select {
  font: inherit;
}
